# dependencies
node_modules/
.pnpm-store/

# build
.next/
out/
build/
dist/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/
.idea/
.DS_Store

# typescript
*.tsbuildinfo
next-env.d.ts

# foundry
contracts/out/
contracts/cache/
contracts/broadcast/
